* {
	box-sizing: border-box;

}

body {
  color: #4a4a4a;
  margin:0 auto;
	width: 100%;
	text-align: center;
	font-family: 'Open sans', sans-serif;

}

p {
	font-weight: 300;
}

/*----HEADER-----------*/
.main-header {
  background-color: #fafafa;
}

.presentation-text,
.contact {
	color: #959595;
}

h1 {
  margin: 0;
  padding: 20px 0;
	font-size: 1.6em;
}

.presentation-text {
  width:90%;
  margin: auto;
	padding-bottom: 40px;
	}

.presentation-image {
  width:65%;
	margin: 20px 0;
}

/*navigation*/

ul {
	padding:0;
	margin: 0;
	}

ul:last-child {
	margin-bottom:20px;
}

li {
 list-style: none;
 background-color: white;
 padding: 10px 0;
 margin:5px auto;
 width: 90%;
 }


a {
  text-decoration: none;
	color: #4a4a4a;
}

.nav-link {
	font-weight: 700;
}

/*-----------------------------------------*/
/*----MAIN-----------*/

main {
	padding-bottom: 50px;
}

h2 {
	font-size: .85em;
	color: #4a4a4a;
}

h3 {
	font-weight: 400;
}

.portfolio-title {
	padding-top:30px;
}

.portfolio-img,
.portfolio-text {
	width: 90%;
}

.portfolio-img {
	padding: 40px 0 5px 0;
}

.portfolio-text {
	color:#5d5d5d;
	margin: auto;
}


/*--------------------------*/

.main-footer {
	position: absolute;
	background-color: #fafafa;
	padding-bottom: 20px;
}


.contact-text {
	width: 90%;
	margin: auto;
	padding-bottom: 20px;
}

.contact-style {
	font-weight: 400;
	padding-left: 6px;
	color: #7f7f7f;
}

.contact-title {
	padding: 40px 0 20px 0;
}

.horizontal {
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	padding-top: 40px;
	border-bottom: 1px solid #ececec;
}

.footer-content {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.footer-name {
	display: inline-block;
	font-weight: 700;
	font-size: .9em;
	padding-left: 20px;

	}

	.footer-nav {
		display: none;
	}

.top-link  {
	display: inline-block;
	font-weight: 700;
	font-size: .75em;
	padding-right: 20px;
	}

/*Media queries*/

@media (min-width: 768px) {

	h1.name {
		padding-top: 40px;
		padding-bottom: 10px;
	}

	.presentation {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding-bottom: 60px;
		}

	.presentation-text {
	  display: inline-block;
		width: 52%;
		margin: 0;
		text-align: left;
		margin-left: 25px;
		font-size: 1.2em;
		}

	.presentation-image {
	  display: inline-block;
		margin: 0;
		margin-right: 25px;
		width: 38%;
		height: 100%;
		order: 1;
	}

	/*navigation*/
 .main-nav {
	 padding: 0 40px 30px 40px;

 }

	ul {
		display: flex;
		flex-direction: row;
		width: 50%;
		margin: auto;
	}

li {
	 display: inline-block;
	 background-color: #fafafa;
	 font-size: 0.9em;

	}

 /*----MAIN----*/

	.portfolio {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.portfolio-section:nth-of-type(odd) {
		margin-left:25px;
	}

	.portfolio-section:nth-of-type(even) {
		margin-right:25px;
	}

	.portfolio-section {
		width: 45%;
	}

	.portfolio-img {
		width:100%;
	}

	.portfolio-text {
		width:80%;
		font-size: 0.95em;
	}

	.contact-text {
		width: 55%;
	}

	.top-link {
		display: none;
	}

	.footer-nav {

	}

}

@media (min-width: 1024px) {

}
