* {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
  color: #4a4a4a;
  width: 100%;
	text-align: center;
	font-family: 'Open sans', sans-serif;
	background-color: #fafafa;
}

p {
	font-weight: 300;
}

/*---HEADER-----------*/

.presentation-text,
.portfolio-text,
.contact-text	{
	word-spacing: .5px;
	letter-spacing: .3px;
	line-height: 1.4em;
}

.presentation-text,
.contact {
	color: #959595;
}

h1 {
  margin: 0 auto;
	padding: 30px 0;
	font-size: 1.6em;
}

.presentation-text {
  width:88%;
  margin: auto;
	padding-bottom: 40px;
	font-size: 1.2em;
	}

.presentation-image {
  width:65%;
	margin: 20px 0;
}

/*---NAVIGATION-----*/

.main-ul {
	padding:0;
	margin: 0;
	}

.main-ul:last-child {
	margin-bottom:20px;
}

li {
	list-style: none;
}

.main-list {
 background-color: white;
 padding: 15px 0;
 margin:6px auto;
 width: 90%;
 }


a {
  text-decoration: none;
	color: #4a4a4a;
}

.main-link {
	font-weight: 700;
}

/*----MAIN-----------*/

main {
	background-color: white;
	padding-bottom: 50px;
}

h2 {
	font-size: 1em;
	color: #4a4a4a;
}

h3 {
	font-size: 1.3em;
	font-weight: 400;
}

.portfolio-title {
	padding-top:50px;
}

.portfolio-img,
.portfolio-text {
	width: 90%;
}

.portfolio-img {
	padding: 40px 0 5px 0;
}

.portfolio-text {
	color:#5d5d5d;
	margin: auto;
	font-size: 1.1em;
}


/*---FOOTER-------*/

.main-footer {
	background-color: #fafafa;
	padding-bottom: 20px;
}

.contact-title {
	padding: 50px 0 30px 0;
}

.contact-text {
	width: 90%;
	margin: auto;
	font-size: 1.2em;
	padding-bottom: 20px;
}

.contact-info {
	font-size: 1.2em;
}

.contact-style {
	font-weight: 600;
	padding-left: 6px;
	color: #7f7f7f;
}

.horizontal {
	margin: 0 20px 15px 20px;
	padding:40px 10px 0 10px;
	border-bottom: 1.4px solid #ececec;
}

.footer-content {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
}

.footer-name {
	display: inline-block;
	font-weight: 700;
	font-size: 1.1em;
	padding-left: 20px;

	}

.footer-nav {
		display: none;
	}

.top-link  {
	display: inline-block;
	font-weight: 700;
	font-size: .9em;
	padding-right: 20px;
	}

/*-----------Media queries------------------------------*/

@media (min-width: 768px) {

	h1.name {
		padding-top: 40px;
		padding-bottom: 0;
		font-size: 1.5em;
		}

	.presentation {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding-bottom: 50px;
		}


	.presentation-text {
	  display: inline-block;
		width: 53%;
		text-align: left;
		margin:0 0 0 25px;
		font-size: 1.2em;

		}

	.presentation-image {
	  display: inline-block;
		margin:0 25px 0 0;
		width: 37%;
		height: 100%;
		order: 1;
	}

	/*--navigation/tablet--*/
 .main-nav {
	 padding: 0 40px 20px 40px;

 }

	.main-ul {
		display: flex;
		flex-direction: row;
		width: 50%;
		margin: auto;
	}

	.main-list {
	 display: inline-block;
	 background-color: #fafafa;
	 font-size: 0.9em;

	}

 /*--main/tablet--*/

 h2 {
	 font-size: .9em;
	}

 h3 {
	 font-size: 1.1em;
	}

	.portfolio {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}


	.portfolio-section:nth-of-type(odd) {
		margin-left:25px;
	}

	.portfolio-section:nth-of-type(even) {
		margin-right:25px;
	}

	.portfolio-section {
		width: 45%;
	}

	.portfolio-img {
		width:100%;
	}

	.portfolio-text {
		width:80%;
		font-size: 0.9em;
		}

	/*--footer/tablet--*/
	.contact-text {
		width: 70%;
		padding-bottom:30px;
		}

	.top-link {
		display: none;
	}

	.footer-name {
		font-size: 1em;
		padding-left: 30px;
	}

	.footer-nav {
		display: inline-block;
		background-color:#fafafa;
		margin-bottom: 40px;
		font-size: .9em;
	}

	.footer-nav-list {
		display: inline-block;
		padding-right: 30px;
		font-size: .9em;
		font-weight: 700;
	}

	.horizontal {
		margin: 0 30px 10px 30px;
	}



@media (min-width: 1024px) {

	h1.name {
		margin: 50px 0 0 70px;
		padding:0;
		font-size: 1.7em;
		}

	.presentation {
		justify-content: space-between;
		margin: 10px 40px 0 40px;
		}

	.presentation-text  {
		width: 53%;
		font-size: 1.3em;
		}

	.presentation-image {
	  width: 39%;
		padding-top: 6px;
		}

/*--navigation/desktop--*/

	.desktop-menu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
		}

	.main-nav {
		margin: 50px 40px 0 0;
		}

	.main-ul {
		padding: 0 35px 0 0;
	}

	.main-list {
		padding:0 40px 0 0;
		}

/*--main/desktop--*/

main {
	background-color: #fafafa;

}

.main-content {
	background-color: white;
	width:95%;
	margin: 0 auto;
}

.portfolio {
	width:95%;
	margin: 0 auto;
	padding-bottom: 60px;
}

h2.portfolio-title {
	padding:65px 0 10px 0;
}

h3 {
 font-size: 1.2em;
}

.portfolio-section {
	width: 31.5%;
	margin: 0;
}

.portfolio-img {
	width:100%;
}

.portfolio-text {
	width:93%;
	font-size: 1em;
}

.portfolio-section:nth-of-type(odd) {
		margin-left:0;
}

.portfolio-section:nth-of-type(even) {
		margin-right:0;
}

/*--footer/desktop--*/

 .main-footer {
	 padding-bottom:0;
 }

 .contact-title {
	padding: 5px 0 30px 0;
 }

	.contact-text {
		width: 55%;
		font-size: 1.3em;
	}

	.contact-info {
		font-size: 1.3em;
	}

	.contact-style {
		font-weight: 700;
	}

	.horizontal {
		padding:60px 10px 0 10px;
		margin: 0 70px 10px 70px;
	}

	.footer-content {
		margin:15px 40px 0 40px;
	}

	.footer-name {
		font-size: 0.95em;
	}

	.footer-nav {
		margin-bottom: 20px;
	}
