* {
	box-sizing: border-box;

}

body {
  color: #4a4a4a;
  margin:0 auto;
	width: 100%;
	text-align: center;
	font-family: 'Open sans', sans-serif;
}

/*----HEADER-----------*/
.main-header {
  background-color: #fafafa;
}

p {
	color: #8a8a8a;
}

h1 {
  margin: 0;
  padding: 20px 0;
	font-size: 1.6em;
}

.presentation-text {
  width:90%;
  margin: auto;
	padding-bottom: 40px;
	}

.presentation-image {
  width:65%;
	margin: 20px 0;
}

/*navigation*/

ul {
	padding:0;
	margin: 0;
	}

ul:last-child {
	margin-bottom:20px;
}

li {
 list-style: none;
 background-color: white;
 padding: 10px 0;
 margin:5px auto;
 width: 90%;
 }


a {
  text-decoration: none;
  color: #4a4a4a;
	font-weight: 700;

}
/*-----------------------------------------*/
/*----MAIN-----------*/

h2 {
	font-size: 1em;
}

.portfolio {
	margin:50px 0;
}

.portfolio-img {
	width: 90%;
	margin: 40px 0;
}









/*Media queries*/

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}
